$m-800-col-width: (100% / 8);
$c-1240: (100% / 12);

///MUST BE USED WITH .grid-blank

.gl-mod.col-2-setup {
  .left-col {
    @media(min-width:$dt-break) {
      grid-column-start: 1;
      grid-column-end: span 5;
    }
    @media($dt) {
      grid-column-end: span 7;
    }
  }
  .right-col {
    margin-bottom:16px;
    @media(min-width:$dt-break) {
      grid-column-start: 6;
      grid-column-end: span 3;
    }
    @media($dt) {
      grid-column-start: 9;
      grid-column-end: span 4;
    }
  }
}
