$m-800-col-width: (100% / 8);
$c-1240: (100% / 12);

///MUST BE USED WITH .grid-blank

.gl-mod.col-2-setup {
  @media(min-width: $t7) {
    grid-template-columns: repeat(3,1fr);
    .left-col {
      grid-column-start: 1;
      grid-column-end: span 2;
    }
    .right-col {
      grid-column-start: 3;
      grid-column-end: span 1;
    }
  }
  @media(min-width: $d-mq) {
    grid-column-gap: 40px;

    grid-template-columns: repeat(8,1fr);

    .left-col {
      grid-column-end: span 5;
    }
    .right-col {
      grid-column-start: 6;
      grid-column-end: span 3;
    }

  }
}
