.about-page.gl-mod.col-2-setup {

  @media(min-width:$dt-break) {

    grid-template-rows: auto 1fr;

    .left-col {

      grid-row-start: 1;
      grid-row-end: span 2;
    }
    .right-col, .picture {

      grid-row-start: 2;
      grid-row-end: span 1;
    }
    .picture {
      grid-row-start: 1;
    }
  }

}


.about-page.like-block {
  margin-bottom:16px;
  border-width: 1px;
  border-style: dashed;
  padding: 16px;
  @media($dt) {
    margin-bottom: 24px;

  }
  h2 {
    margin-bottom:.5em;
  }
  ul {

    @media(max-width: ($dt-break - 1px)) {
      column-count: 2;
      column-gap: 16px;
    }

    li {
      margin-bottom:.5em;
      font-size: .85em;
      line-height: 1.2;

      @media($dt) {
        display:inline-block;
        margin: 0;
        &:after {
          content: ', ';
        }
        &:last-child {
          &:after {
            content:'';
          }
        }
      }
    }
  }
}
