

.about-page.like-block {
  margin-bottom:16px;
  border-width: 1px;
  border-style: dashed;
  padding: 16px;
  @media($dt) {
    margin-bottom: 24px;

  }
  h2 {
    margin-bottom:.5em;
  }
  ul {
    font-family: $font-sans;
    column-count: 2;
    column-gap: 16px;

    li {
      margin-bottom:.5em;
      font-size: .85em;
      line-height: 1.2;
    }
  }
}
