

.about-page.like-block {
  margin-bottom:16px;
  border-width: 1px;
  border-style: dashed;
  padding: 16px;
  @media($dt) {
    margin-bottom: 24px;

  }
  h2 {
    margin-bottom:.5em;
  }
  ul {
    font-family: $font-sans;


    li {
      margin-bottom:.5em;
      font-size: .85em;
      line-height: 1.2;
      @media($dt) {
        display:inline-block;
        margin: 0;
        &:after {
          content: ', ';
        }
        &:last-child {
          &:after {
            content:'';
          }
        }
      }
    }
  }
}
