

body {
  background: $white;
  color: #212121;
  background-color: $white;
  font-weight: normal;
  font-size: 16px;
}
body {
  *, *:before, *:after {
    color:currentColor;
    border:0px solid currentColor;
  }
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
svg {
  display: block;
  max-width:100%;
  fill: currentColor;
  * {
    fill:currentColor;
    &[fill="none"] {
      fill:none !important;
    }
  }
}
