

body {
  background: $white;
  color: #212121;
  background-color: $white;
  font-weight: normal;
  font-size: 16px;
}
body {
  *, *:before, *:after {
    color:currentColor;
    border:0px solid currentColor;
  }
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
svg {
  display: block;
  max-width:100%;
  fill: currentColor;
  * {
    fill:currentColor;
    &[fill="none"] {
      fill:none !important;
    }
  }
}
a {
  &.no-underline {
    text-decoration: none;
  }
}

#main-content-container {

  max-width: 402px;
  margin-left: auto;
  margin-right: auto;
  @media(min-width:402px) {
    border-width:0 1px;
    border-style: dashed;
    position: relative;
    background:$white;
  }
  @media(min-width:802px) {
    max-width: none;
    border-width:0;
  }
}

.mw-800 {
  @media(min-width:800px) {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  @media($dt) {
    max-width: 1280px;
  }
}
