
html {
  height: 100%;
}
body {
  background: $white;
  color: #212121;
  background-color: $white;
  font-weight: normal;
  font-size: 16px;
  transition: color 2s linear;
  animation: bodyColor 30s infinite linear;
  min-height: 100%;
  &[data-colormode="bw"] {
    animation: none;
  }
}

//STICKY FOOTER
#footer-grid-wrap {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  width:100%;
}
#footer {
  grid-row-start: 2;
  grid-row-end: span 1;
  margin-top: 80px;
}
#main-content-container {
  padding-left: calc( (100% - 402px) / 2);
  padding-right: calc( (100% - 402px) / 2);
}


body {
  *, *:before, *:after {
    color:currentColor;
    border:0px solid currentColor;
  }
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
svg {
  display: block;
  max-width:100%;
  fill: currentColor;
  * {
    fill:currentColor;
    &[fill="none"], &[FILL="none"] {
      fill:none !important;
    }
  }
}
a {
  &:hover {
    text-decoration: none;
  }
  &.no-underline {
    text-decoration: none;
  }
}
button {
  cursor: pointer;
}


.mw-800 {
  @media(min-width:800px) {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  @media($dt) {
    max-width: 1280px;
  }
}
