.bl {
  &.post-list {
    position: relative;
    padding-bottom:1px;
    margin-top:-20px;
    padding-bottom:24px;
  }
  &.post {
    border-bottom-width:1px;
    border-style:dashed;
    padding-top:16px;
    position:relative;
    @media(min-width:$dt-break) {
      padding:0 calc((100% - 800px) / 2);
      padding-top:16px;
    }
    @media($dt) {
      padding: 0 calc((100% - 1280px) / 2);
      padding-top:24px;
    }

    .thumbnail-container {
      float: left;
      width: calc(33.33333% - 8px);
      padding: 0px 0 16px 16px;
      .poster-image-container {
        padding-top: 75% !important;
      }
      @media(min-width: $dt-break) {
        width: calc(((100% / 8) * 2) + 12px);
        padding-right:16px;
        .normal-image-container {
          width: 100%;
          @media($dt) {
            .poster-image-container {
              padding-top: percentage(9/16) !important;
            }
          }
        }
      }
      @media($dt) {
        padding: 24px;
        padding-top: 0;
        width: calc(((100% / 12) * 3) + 18px);
        //padding: 0px 0 24px 24px;
      }
    }
    .copy {
      width: 100%;
      padding: 0 16px 16px 16px;
      display:block;

      line-height: 1.2;
      @media($dt) {
        padding: 0 24px 24px 24px;
        h1.title {
          font-size: 18px;
        }
        > * {
          max-width: 700px;
        }
      }
      &.with_thumbnail {
        float:right;
        width: calc(66.66666% - 8px);
        padding: 0px 16px 16px 0;

        @media(min-width: $dt-break) {
          width: calc(((100% / 8) * 6) - 12px);
        //  padding: 0 24px 24px 0;
        }
        @media($dt) {
          width: calc(((100% / 12) * 9) - 18px);
          padding: 0 24px 24px 0;
        }
      }
    }
  }
}
