.bl {
  &.post-list {
    position: relative;
    margin-top: -24px;

  }
  &.post {

    padding: 24px 0;
    border-bottom: 1px dashed;
    .grid-container {
      padding: 0 24px;
      * {
        display:block;
      }
      .thumbnail-container {
        display:none;
      }
      .copy {
        .date {
          padding-bottom:8px;
        }
        .tagline {
          padding-top:8px;
        }
      }
    }
    &:hover {
      h2 {
        text-decoration: underline;
      }
    }
    @media(min-width:$t7) {
      .grid-container {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 24px;
        .copy {
          grid-row-start: 1;
          grid-column-start:1;
          grid-column-end: span 2;
          h2 {
            font-size: 20px;
            @media(min-width: $d-mq) {
              font-size: 24px;
            }
          }
        }
        .thumbnail-container {
          display:block;
          width: 100%;
          grid-column-start:3;
          grid-column-end: span 1;
          grid-row-start:1;
          .post-image {
            .normal-image-container {
              max-width: none !important;
              width: auto !important;
              .poster-image-container {
                padding-top: 56.25% !important;
              }
            }
          }
        }
      }
    }
    /*

    .grid-container {
      padding: 0 24px;
      display:grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 24px;
      .copy {
        grid-row-start: 1;
        grid-column-start:1;
        grid-column-end: span 3;
      }
      .thumbnail-container {
        display:block;
        width: 100%;
        grid-column-start:4;
        grid-column-end: span 1;
        grid-row-start:1;
        .post-image {
          .normal-image-container {
            max-width: none !important;
            .poster-image-container {
              padding-top: 100% !important;
            }
          }
        }
      }
    }*/
  }
}
