@keyframes bodyColor {
  0% {
    color: red;
  }

  10% {
    color: #f39;
  }
  20% {
    color:#960;
  }
  30% {
    color:#f60;
  }
  40% {
    color:#606;
  }
  50% {
    color:#090;
  }
  60% {
    color:#00f;
  }
  70% {
    color:#222;
  }
  80% {
    color:#002FA7;
  }
  90% {
    color:DARKSLATEGRAY;
  }
  100% {
    color: red;
  }
}
