#color-mode-switcher {
  display:block;
  margin-top: 16px;
  position: relative;
  width: 100px;
  height: 48px;
  @media(min-width:$dt-break) {
    position: fixed;
    right: 24px;
    bottom: 0px;
    transform: rotate(90deg);
    transform-origin: center right;
    margin: 0;
    width: 60px;

  }
  &:before, &:after {
    display:block;
    content:'';
    width: 14px;
    height: 14px;
    border-width: 1px;
    border-color:$white;
    background:#212121;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    @media(min-width:$dt-break) {
      width: 10px;
      height: 10px;


    }
  }
  &:after {
    left: auto;
    right: 0;
    background:linear-gradient(125deg, #f39,
    red,
  #960,
  #f60,
    #606,
    #090,
    #00f,
    #222,
    #002FA7);
  }
  .slider {
    display:block;
    width: calc(100% - 40px);
    height: 24px;
    border-width:1px;
    border-color:$white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    &:before {
      display:block;
      position: absolute;
      content:'';
      width: 50%;
      height: calc(100% - 2px);
      background:$white;

      left: 1px;
      top: 50%;
      transform:translateY(-50%);
    }
    @media(min-width:$dt-break) {
      background:currentColor;
      width: calc(100% - 30px);
      height: 3px;
      &:before {
        background: currentColor;
        width: 10px;
        height: 10px;
        border-radius:50%;
        border-width: 1px;
        border-color:$white;
      }
    }

  }

  button#color-mode-button[data-colormode="color"] {

      &:before {
        left: auto;
        right: 1px;
      }

  }
}
