#color-mode-switcher {
  display:block;
  margin-top: 16px;
  position: relative;
  width: 100px;
  height: 48px;
  @media(min-width:$t7) {
    position: fixed;
    right: 16px;
    bottom: -2px;
    margin: 0;


  }
  &:before, &:after {
    width: 14px;
    height: 14px;
    border-width: 1px;
    border-color:$white;
    background:#212121;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &:after {
    left: auto;
    right: 0;
    background:linear-gradient(125deg, #f39,
    red,
  #960,
  #f60,
    #606,
    #090,
    #00f,
    #222,
    #002FA7);
  }
  .slider {
    display:block;
    width: calc(100% - 40px);
    height: 24px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    &:before {
      position: absolute;
      left: 0;
      width: 100%;
      height: 8px;
      border-radius:4px; 
      border: 1px solid currentColor;
      top: calc(50% - 4px);
      @media(min-width:$t7) {
        background: currentColor;
        border: 1px solid $white; 
      }
    }
    &:after {
      position: absolute;
      width: 24px;
      height:24px;
     
      border-radius: 50%;
      background:$white;
      left: 0px;
      top: 50%;
      transform:translateY(-50%);
      @media(min-width: $t7) {
        border: 3px double currentColor;
      }
    }
    @media(min-width:$t7) {
     // background:currentColor;
    }

  }

  button#color-mode-button[data-colormode="color"] {

      &:after {
        left: auto;
        right: 0px;
      }

  }
}
