#color-mode-switcher {
  display:block;
  margin-top: 16px;
  position: relative;
  width: 100px;
  height: 48px;
  @media(min-width:$t7) {
    position: fixed;
    right: 16px;
    bottom: -2px;
    margin: 0;


  }
  &:before, &:after {
    width: 14px;
    height: 14px;
    border-width: 1px;
    border-color:$white;
    background:#212121;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &:after {
    left: auto;
    right: 0;
    background:linear-gradient(125deg, #f39,
    red,
  #960,
  #f60,
    #606,
    #090,
    #00f,
    #222,
    #002FA7);
  }
  .slider {
    display:block;
    width: calc(100% - 40px);
    height: 24px;
    border-width:1px;
    border-color:$white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    &:before {
      position: absolute;
      width: 50%;
      height: calc(100% - 4px);
      background:$white;
      left: 2px;
      top: 50%;
      transform:translateY(-50%);
    }
    @media(min-width:$t7) {
      background:currentColor;
    }

  }

  button#color-mode-button[data-colormode="color"] {

      &:before {
        left: auto;
        right: 2px;
      }

  }
}
