.contact-page.social-links {
  margin-bottom: 24px;
  h2 {
    margin-bottom:.25em;
  }
  ul.social-links-list {
    li {
      a {
        display: block;
        line-height: 44px;
        padding-left: 28px;
        position: relative;
        svg {
          display:block;
          width: 20px;
          height: 20px;
          left: 0;
          top: calc(50% - 10px);
          position: absolute;
        }
      }
    }
  }
}
@media(min-width:$t7) {
  #contact-page {
    grid-template-rows: auto 1fr;
    .social-links {
      grid-row-start: 1;
      grid-row-end: span 2;
    }
    .left-col, #contact-form-container {
      grid-row-start: 1;
      grid-row-end: span 1;
    }
    #contact-form-container {
      grid-row-start: 2;

    }
  }

}
#contact-form-container {
  padding-bottom:48px;
}
.contact-page.contact-form {

  padding: 16px;
  position: relative;
  border-width: 3px;
  box-shadow: 3px 3px 0 currentColor;
  @media(min-width:$t7) {

    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;
  }
  @media($dt) {
    max-width: none;

    padding: 24px 12px 24px 12px;
  }
  @media(min-width:$dt-max) {

  }
  h2.error-msg {
    padding: 8px;
    margin-bottom: 8px;
    border-width:1px;
    background:currentColor;
    border-width:1px;
    border-color:white;
    box-shadow:1px 1px 0 currentColor;
    @media(min-width:$dt-break) {
      margin: 0 8px 16px 8px;
      padding: 16px;
    }
    span {
      color:$white;
    }
  }
  .form-row {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 8px;
    .error-bug {
      display: block;
      position: relative;
      svg {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 8px;
        bottom: 8px;
      }
    }
    &:last-child {
      margin-bottom:0;
    }
    @media(min-width:$dt-break) {
      padding-left: 8px;
      padding-right: 8px;
      float: left;
      width:100%;
      &.input {

        width: 50%;


      }
    }
    @media($dt) {
      padding-left:12px;
      padding-right:12px;
    }
    &.submit {

      text-align: center;
    }
    label {
      font-size: 12px;
      font-weight: bold;
      margin-bottom: .5em;
      display:block;
    }
    input, textarea {
      display:block;
      width: 100%;
      border-width: 2px;
      border-style:dashed;
      padding: 8px;
      &.error {
        padding-left: 32px;
      }
      &:focus {
        border-style:solid;
        box-shadow: 2px 2px 0 currentColor;
      }
    }
    textarea {
      height: 120px;
    }
    button[type=submit] {
      border-width: 2px;
      box-shadow: 2px 2px 0 currentColor;
      display:inline-block;
      line-height: 48px;
      padding: 0 16px;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
#contact-form-container {
  max-width: $dt-max;
  margin: 0 auto;
}
