& {
    background: $black;
    color: $white; 
    header a#spinner, header a#spinner:before, nav .nav-items, .hp.project-link .callout, footer#footer .inner, .p-s.top-section, #nav-opener:before, input#navigation-toggle:before, nav {
        background: $black; 
    }
}
