footer#footer {

  @include bg-stripe();


  padding: 24px;
  border-top-width:1px;
  .inner {
    border-width: 1px;
    padding: 16px;
    background: $white;
    max-width: (402 - (24px * 2));
    margin: 0 auto;
    font-size: 12px;
    line-height: 1.7;
    ul.contact-footer {
      margin-bottom: 12px;
      column-count: 2;
      column-gap: 16px;
    }
  }
}
