footer#footer {

  @include bg-stripe();
  text-align: center;
  padding: 8px;
  height: 44px;
  border-top-width:1px;
  .inner {
    display:inline-block;
    line-height: 22px;
    border-width:1px;
    background:$white;
    padding: 0 8px;
    font-size: 12px;

  }
}
#main-content-container {
  min-height: calc(100vh - 44px);
}
