footer#footer {

  background-color: transparent;
  background-size: 16px 16px;
  background-image: linear-gradient(45deg,
    transparent 0%,
    transparent 25%,
    currentColor 25%,
    currentColor 26%,
    transparent 26%,
    transparent 75%,
    currentColor 75%,
    currentColor 76%,
    transparent 76%
  );
  text-align: center;
  padding: 8px;
  border-top-width:1px;
  .inner {
    display:inline-block;
    line-height: 22px;
    border-width:1px;
    background:$white;
    padding: 0 8px;
    font-size: 12px;

  }
}
