
.gl-mod.grid-blank {
 padding-left: 24px;
 padding-right: 24px;
 @media(min-width:$t7) {
   display:grid;
   grid-template-columns: repeat(4,1fr);
   grid-column-gap: 24px;
 }
 /*
 @media(min-width:$dt-break) {
   display:grid;
   max-width: $dt-break - 1px;
   margin: 0 auto;
   grid-template-columns: repeat(8,1fr);
   grid-column-gap: 16px;
  }
  @media($dt) {
    max-width: $dt-max;
    padding-left: 24px;
    padding-right: 24px;
    grid-template-columns: repeat(12,1fr);
    grid-column-gap: 24px;
  }
  */

}
