
@mixin grid-lines($columns, $gutters) {
  $white: transparent;
  $black: red;
  $percent : percentage( (100 / $columns ) / 100);

  $stops: to right,
    $black 0%,
    $black 1px,
    $white 1px,
    $white ($gutters - 1px),
    $black ($gutters - 1px),
    $white $gutters;
  $g-half : ($gutters / 2);
  @for $i from 1 through ($columns - 1)  {
      $center: ($percent * $i);
    $new-stops: $white calc(#{$center} - #{$g-half}),
                $black calc(#{$center} - #{$g-half}),
                $black calc(#{$center} - (#{$g-half} - 1px)),
                $white calc(#{$center} - (#{$g-half} - 1px)),
                $white calc(#{$center} + #{$g-half}),
                $black calc(#{$center} + #{$g-half}),
                $black calc(#{$center} + ( #{$g-half} + 1px)),
                $white calc(#{$center} + ( #{$g-half} + 1px));
    $stops: join($stops, $new-stops, comma);

  }
  $back-half: $white calc(100% - #{$gutters} ),
    $black calc(100% - #{$gutters} ),
    $white calc(100% - (#{$gutters} - 1px)),
    
    $white calc(100% - 1px),
    $black calc(100% - 1px),
    $black 100%;
  $stops: join($stops, $back-half, comma);
  background-image: linear-gradient($stops);
  
}

#grid-lines {
 display:block !important;
 position:fixed;
 left: 0;
 top: 0;
 right: 0;
 bottom: 0;
 pointer-events: none;
 z-index: 9999;
 background-position: center top;
 background-size: 100% 1px;
 background-repeat: repeat-y;
 @include grid-lines(2, 16px); 
 @media(min-width: 402px) {
  background-size: 402px 1px;  
 }
 @media(min-width: $dt-break) {
   background-size: $dt-break 1px;
   @include grid-lines(8, 16px);
 }
 @media($dt) {
  background-size: 100% 1px;
  @include grid-lines(12,24px); 
 }
 @media(min-width: $dt-max) {
   background-size: $dt-max 1px;
 }
}
