* {};

@mixin gridder($columns, $gutter) {
  $g-half: ($gutter / 2);
  $w : percentage( (100 / $columns ) / 100);
  hr {
    width: calc(#{$w} - #{$gutter});
    margin: 0 $g-half;
  }
  padding: 0 $g-half;
  hr {
    display:none;
  }
  @for $i from 1 through ($columns )  {
    hr:nth-child(#{$i}) {
      display:block;
    }
  }

}

#grid-lines {
 display:block !important;
 position:fixed;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 margin-left: 50%;
 transform: translateX(-50%);
 pointer-events: none;
 z-index: 9999;
 hr {
   display:none;
   float: left;
   background:rgba(red,.25);
   height: 100%;
 }
 @include gridder(3, 16px);
 @media(min-width: 402px) {
  width: 400px

 }
 @media(min-width: $dt-break) {
  width: 800px;
  @include gridder(8,16px)

 }
 @media($dt) {
  width: 100%;
  @include gridder(12,24px);
 }
 @media(min-width: $dt-max) {
   width: $dt-max;
 }
 /*
 background-position: center top;
 background-size: 100% 1px;
 background-repeat: repeat-y;
 @include grid-lines(4, 16px);


 @media($dt) {
  background-size: 100% 1px;
  @include grid-lines(12,24px);
 }
 @media(min-width: $dt-max) {
   background-size: $dt-max 1px;
 }
 */
}
