#main-content-container {
  padding-top: 56px;
}
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 56px;
  a#spinner, a#spinner:before {
    position: absolute;
    left: 1rem;
    width: 40px;
    height: 40px;
    border-width: 1px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  a#spinner {
    &:before {
      border-style:dashed;
      display:block;
      content:'';
      left: 50%;
      top: 50%;
      transform:translate(-50%,-50%);
      width: 28px;
      height:28px;
    }
  }
}
