#main-content-container {
  padding-top: 56px;
}
header {
  .scrim {
    display:none;
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background:rgba(white,.9);
  }
  position: fixed;
  z-index:3;
  left: 0;
  top: 0;
  width: 100%;
  height: 56px;
  a#spinner, a#spinner:before {
    position: absolute;
    left: 1rem;
    width: 32px;
    height: 32px;
    border-width: 1px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  a#spinner {
    &:before {
      border-style:dashed;
      display:block;
      content:'';
      left: calc(50% - 11px);
      top: calc(50% - 11px);
      width: 22px;
      height:22px;
      animation: spinner 5s infinite linear;
    }
  }

}

#nav-opener, input#navigation-toggle {
  position: absolute;
  right: 8px ;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  &:before {
    display: block;
    content:'';
    position: absolute;
    right: 8px;
    bottom:8px;
    left:8px;
    top:8px;
    border-width: 3px;
  }
  > span {
    display: block;
    width: 18px;
    height: 18px;
    > svg{
      width: 18px;
      height: 18px;
    }
    &.close {
      display: none;
    }
  }
}
input#navigation-toggle {
  opacity: 0;
  z-index:1;
}
#navigation-toggle:checked + .scrim {
  display:block;
}
#navigation-toggle:checked + .scrim + nav + #nav-opener {
  &:before {
    border-color:white;
  }
  .open {
    display:none;
  }
  .close {
    display:block;
  }
  svg *{
    fill:white;
  }
}


@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg)
  }
}
