$dt-header-padding: 112px;
#main-content-container {
  padding-top: $header-top-padding;
  html.slug-projects & {
    padding-top: 0;
  }
}
.navigation_spacer {
  padding-top: $header-top-padding;
}
@media(min-width:$t7) {
  #main-content-container {
    padding-top:$dt-header-padding ;
  }
  .navigation_spacer {
    padding-top: $dt-header-padding;
  }
}


header {
  &#test {
    position: absolute;
    background:blue;
    opacity: 0;
    visibility: hidden;
  }
  .scrim {
    display:none;
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background:rgba(white,.9);
  }
  position: fixed;
  z-index:3;
  left: 0;
  top: 0;
  width: 100%;
  height: $header-top-padding;
  @media(min-width:$m4) {
    width: $m4;
    left: calc(50% - #{($m4 / 2)});

  }
  @media(min-width:$t7 ){
    max-width: $d9;
    height: $dt-header-padding;
    left:0;
    width: 100%;
  }
  @media(min-width:$d9) {
    width: $d9;
    left: calc(50% - #{($d9 / 2)});
  }

  a#spinner, a#spinner:before {
    background:$white;
    position: absolute;
    left: 24px;
    width: 32px;
    height: 32px;
    border-width: 1px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    @media(min-width:$t7) {
      left: 36px;
    }

  }
  a#spinner {
    &:before {
      border-style:dashed;
      left: calc(50% - 11px) !important;
      top: calc(50% - 11px);
      width: 22px;
      height:22px;
      animation: spinner 5s infinite linear;
    }
    body[data-colormode="bw"] & {
     &:before {
       animation: none;
       transform: translateY(-50%);
       top: 50%;
     }
    }
  }

}

#nav-opener, input#navigation-toggle {
  @media(min-width:$t7) {
    display:none;
  }
  position: absolute;
  right: (24px - 8px) ;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  &:before {
    position: absolute;
    right: 8px;
    bottom:8px;
    left:8px;
    top:8px;
    border-width: 3px;
    background:$white;
  }
  &:after {
    z-index:-1;
    position: absolute;
    height:calc(100% - 16px);
    right: 5px;
    top: 11px;
    width: calc(100% - 16px);
    border-width: 0 3px 3px 0;
  }
  > span {
    display: block;
    width: 18px;
    height: 18px;
    > svg{
      width: 18px;
      height: 18px;
    }
    &.close {
      display: none;
    }
  }
}
input#navigation-toggle {
  opacity: 0;
  z-index:1;
}
#navigation-toggle:checked + .scrim {
  display:block;
}
#navigation-toggle:checked + .scrim + nav + #nav-opener {
  &:before {
    border-color:white;
    background:none;
  }
  .open {
    display:none;
  }
  .close {
    display:block;
  }
  svg *{
    fill:white;
  }
}


@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg)
  }
}
