.hp.top-content {

}
.hp.top-content h1 {
  font-size: 22px;
  line-height: 1.7;
  font-weight: 200;
  padding-bottom: 24px;
  @media(min-width:$dt-break) {
   grid-column-end: span 8;
  }

  @media(min-width:$t7) {
    grid-column-end: span 4;
    font-size:30px;
    padding-bottom: 32px;
  }
  @media(min-width:$d-mq) {
    grid-column-end: span 3;
   }
  a {
    display: inline-block;
  }
}
h2.hp.sub-heading {
  margin-left: 24px;
  margin-right: 24px;



}
.hp.bottom-button-wrapper {
 text-align:right;
 margin-top: 12px;
 margin-bottom: 24px;
 padding: 0 24px;
 @media(min-width:$t7) {
   margin-top:0;
 }

}
.hp.bottom-button {
  display: inline-block;

  font-weight: bold;
  text-decoration: none;
  line-height: 48px;
  font-size:14px;

  .bug {
    display: inline-block;
    vertical-align: middle;
    transition: transform .15s;
  }
  svg {
    width: 12px;
    height: 12px;
  }
  &:hover {
    //text-decoration: underline;
    .bug {
      transform: translateX(4px);
    }
  }
}
.hp.blog-posts {
  margin: 0 24px;
  @media(min-width:$t7) {
    margin-bottom:16px;
  }
  > li {
    .time{
      display: block;
      margin-bottom: 8px;
    }
  }
}
.hp.project-list {
  @media(min-width:$t7) {
    display:flex;
     flex-wrap:wrap;
     padding: 0 (24px );
  }
}
.hp.project-link {
  margin: 0 24px 24px 24px;
  position: relative;
  @media(min-width:$t7) {
    float: left;
    width: calc( (((100% - (24px * 3)) / 4) * 2) + (24px * 1) );
    margin: 0 (24px / 2) 24px 0;
    &:nth-child(even) {
      margin: 0 0 24px 12px;
    }
  }
  &:last-child {
    @media(max-width: ($t7 - 1px)) {
      margin-bottom: 0;
    }
  }
  display:block;
  * {
    display:block;
  }
  .img-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: percentage(9/16);
    border-width:1px;
  }
  .callout {
    position: absolute;
    left: -8px;
    bottom: -8px;
    padding: 16px;
    border-width: 2px;
  //  transition: box-shadow .15s;
  //  box-shadow: 2px 2px 0 currentColor;
    max-width: calc(100% );
    background:$white;
    h2 {
      font-size:20px;
      font-weight: normal;
      line-height: 1.2;
      overflow-wrap: break-word;
      word-wrap: break-word;
      span {
        border-bottom-width: 2px;
        border-color: transparent;
        display:inline;
      }
    }
  }

}
@media(min-width:802px) {
  .hp.project-list {
  /*  display:flex;
    flex-wrap:wrap;
    padding: 0 8px;
    @media($dt) {
      padding: 0 12px;
    }
    .project-card {
      float:left;
      width: calc(50% - 16px);
      margin: 0 8px 16px 8px;
      @media($dt) {
        margin: 0 12px 24px 12px;
        width: calc(50% - 24px);
        //display:flex;
        a.area {
          z-index: 1;
        }
        .poster-image-container {
          width:calc(50% - 12px);
          border-width: 0 2px 0 0;
          position:absolute;
          left: 0;
          top: 0;
          height:100%;
          padding: 0;
        }
        &:before {
          display:inline-block;
          vertical-align:top;

          width: calc(50% - 16px);
          position:relative;
          padding-top: (percentage(9/16) / 2);
        }
        h3 {
          display:inline-block;
          vertical-align:top;
          width: calc(50% + 12px);
          padding: 24px;
          > a {
            padding: 0;
          }
        }
      }
    }*/
  }
  .hp.blog-posts {
    /*
    margin-left: 16px;
    margin-right: 16px;
    border-width: 1px;
    display:flex;
    flex-wrap: wrap;
    box-shadow: 2px 2px 0 currentColor;
    @media($dt) {
      margin-left: 24px;
      margin-right: 24px;
      margin-bottom: 16px;
      border: 0;
      box-shadow: none;
    }
    > li {
      width:50%;
      float:left;
      padding: 16px 15px;
      margin: 0;
      border-width: 1px 0 0 1px;
      &:nth-child(odd) {
        border-left-width:0;
      }
      &:nth-child(1), &:nth-child(2) {
        border-top-width:0;
        padding-top:16px;
      }
      @media($dt) {
        width: calc(25% - 18px);
        margin-right: 24px;
        border-width: 1px !important;
        border-style: dotted;
        box-shadow: 1px 1px 0 currentColor;
        padding: 16px;

        &:last-child {
          margin-right: 0;
        }
      }
    }*/
  }
}
