.hp.top-content {
  padding: 8rem 24rem 0 24rem;
  h1 {
    font-weight: normal;
    font-size: 8rem * 3;
    line-height: 1.25;
  }
}
.hp.projects, .hp.blog {
  padding-top: 32rem;
}
.hp.blog {
  padding-top: 32rem + 8rem;
}
.hp.projects, .hp.blog {
  .bottom-button {
    margin: 16rem 0 0 16rem;
  }
}
.hp.sub-header {
  padding: 0 16rem;
  font-size: 16rem;
  font-family: $font-sans;
  text-transform: uppercase;
  margin-bottom:8rem;
  font-weight:bold;
}
.hp.projects {
  .project {
    position: relative;
    width:100%;
    height: 16rem *10;
    border-bottom-width:2rem;
    background:currentColor;
    img.project-img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height:100%;
      object-fit: cover;
      object-position: center center;
    }
    .callout {
      position: absolute;
      left: 16rem;
      top: 16rem;
      max-width: calc(100% - 32rem);
      border-width: 2rem;
      background:white;
      padding: 6rem;

      span {
        display: block;
      }
      .title {
        font-size: 16rem;
      }
      .tagline {
        font-weight: normal;
        font-size: 12rem;
      }
    }
  }
}
.hp.blog {
  .post {
    padding-top: 8rem;
    margin: 0 16rem 8rem 16rem;
    border-top-width:1rem;
    border-style: dashed;
    &:last-of-type {
      margin-bottom:0;

      padding-bottom:0;
    }
    a {
      text-decoration: none;
    }
    .title {
      font-size: 16rem;


    }
    .time {
      margin-top: 4rem;
      font-size: 12rem;
      font-weight: normal;
      display:inline-block;
    }
  }
}
