.hp.top-content h1 {
  font-size: 24px;
  font-weight: 200;
  padding: 0 16px 24px 16px;
  @media(min-width:802px) {
    font-size:32px;
  }
  @media($dt) {
    padding: 0 24px 24px 24px;
    max-width: 800px;
  }
}
h2.hp.sub-heading {
  padding: 0 16px;
  padding-bottom: 5px;
  position: relative;
  @media($dt) {
    padding-left: 24px;
    padding-right: 24px;
  }
  &:before {
    display: block;
    position: absolute;
    content:'';
    left: 16px;
    bottom: 0;
    width: 48px;
    height: 2px;
    background: currentColor;
    @media(min-width:1024px) {
      left: 24px;
    }
  }
}
.hp.bottom-button {
  display: block;
  margin: 0 16px;
  text-align: right;
  font-family: $font-sans;
  font-weight: bold;
  text-decoration: none;
  line-height: 40px;
  margin-bottom: 24px;
  @media($dt) {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
  }
  .bug {
    display: inline-block;
    vertical-align: middle;
  }
  svg {
    width: 12px;
    height: 12px;
  }
}
.hp.blog-posts {
  > li {
    padding: 16px;
    border-style: dashed;
    border-bottom-width:1px;
    position:relative;
    &:first-child {
      border-top-width: 1px;
    }
    a {
      display:block;
      text-decoration: none;
    }
    .time{
      display: block;
    }
  }
}

@media(min-width:802px) {
  .hp.project-list {
    display:flex;
    flex-wrap:wrap;
    padding: 0 8px;
    @media($dt) {
      padding: 0 12px;
    }
    .project-card {
      float:left;
      width: calc(50% - 16px);
      margin: 0 8px 16px 8px;
      @media($dt) {
        margin: 0 12px 24px 12px;
        width: calc(50% - 24px);
        //display:flex;
        a.area {
          z-index: 1;
        }
        .poster-image-container {
          width:calc(50% - 12px);
          border-width: 0 2px 0 0;
          position:absolute;
          left: 0;
          top: 0;
          width:50%;
        }
        &:before {
          display:inline-block;
          vertical-align:top;
          content:'';
          width: calc(50% - 4px);
          position:relative;
          padding-top: (percentage(9/16) / 2);
        }
        h3 {
          display:inline-block;
          vertical-align:top;
          width: calc(50% + 12px);
          padding: 24px;
          > a {
            padding: 0;
          }
        }
      }
    }
  }
  .hp.blog-posts {
    margin-left: 16px;
    margin-right: 16px;
    border-width: 1px;
    display:flex;
    flex-wrap: wrap;
    box-shadow: 2px 2px 0 currentColor;
    @media($dt) {
      margin-left: 24px;
      margin-right: 24px;
      margin-bottom: 16px;
      border: 0;
      box-shadow: none;
    }
    > li {
      width:50%;
      float:left;
      padding: 16px 15px;
      margin: 0;
      border-width: 1px 0 0 1px;
      &:nth-child(odd) {
        border-left-width:0;
      }
      &:nth-child(1), &:nth-child(2) {
        border-top-width:0;
        padding-top:16px;
      }
      @media($dt) {
        width: calc(25% - 18px);
        margin-right: 24px;
        border-width: 1px !important;
        border-style: dotted;
        box-shadow: 1px 1px 0 currentColor;
        padding: 16px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
