img.poster-image {
  position:absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.poster-image-container, .preload-image-container {
 background-color:currentColor;
 position: relative;
 display:block;
 overflow:hidden;
 width:100%;
}
img.preload-image {
 filter:blur(10px);
 transform: scale(1.1);
}

.post-image {
  .phone-image-container {
    border-width:1px;
    padding: 65px 10px;
    border-radius: 30px;
    max-width: (375px + 20px);
    margin-left:auto;
    margin-right: auto;
    position: relative;
    .phone-image {
      border-width:1px;
    }
    &:before, &:after {
     display:block;
      content:'';
    }
    &:before {
      position: absolute;
     right: 40px;
      top: -5px;
      height: 4px;
      width: 45px;
      border-width: 1px 1px 0
    }
   &:after {
      position: absolute;
      top: 35px;
     left: 50%;
           margin-left: -27px;
      width: 54px;
      height: 5px;
      border-radius: 3.5px;
      border-width: 1px
    }
    .home-btn {
       position: absolute;
       left: 50%;
       bottom: 13px;
       border-width: 1px;
       border-radius: 50%;
       width: 40px;
       height: 40px;
       margin-left: -20px;
       &:after {
         position: absolute;
         content: '';
         border-radius: 50%;
         border-width: 1px;
         width: 22px;
         height: 22px;
         left: 8px;
         top: 8px;
       }
     }
  }
  figcaption {
    text-align: center;
    max-width: 400px;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
  }
}
