.post-image {
  .normal-img {
    position: relative;
    width: calc(100% + 32rem);
    left: 50%;
    transform:translateX(-50%);
  }
  .desktop-img-container {
    border-width: 1rem;
    padding-top:30rem;
    border-radius: 7rem 7rem 0 0;
    width: 100%;
    margin: 0 auto;
    .poster-img {
      border-top-width:1rem;
    }
   .circles,&:after,&:before {
      display: block;
      content: '';
      border-radius: 50%;
      width: 10rem;
      height: 10rem;
      position: absolute;
      left: 10rem;
      top: 10rem;
      background:currentColor;
    }
    .circles {
        left: 28rem
    }
    &:after {
        left: 46rem
    }
  }
  .phone-img-container {
    font-size:.062em;
    width: 260em;
    margin: 0 auto;
    padding: 65em 10em;
    border-width: 1em;
    border-radius: 30em;
    position: relative;
    &:before, &:after {
      display:block;
      content:'';
    }
    &:before {
      position: absolute;
      right: 40em;
      top: -5em;
      height: 4em;
      width: 45em;
      border-width: 1em 1em 0
    }
    &:after {
      position: absolute;
      top: 35em;
      left: 50%;
      margin-left: -27em;
      width: 54em;
      height: 5em;
      border-radius: 3.5em;
      border-width: 1em
    }
    .home-btn {
      position: absolute;
      left: 50%;
      bottom: 13em;
      border-width: 1em;
      border-radius: 50%;
      width: 40em;
      height: 40em;
      margin-left: -20em;
      &:after {
        position: absolute;
        content: '';
        border-radius: 50%;
        border-width: 1em;
        width: 22em;
        height: 22em;
        left: 8em;
        top: 8em;
      }
    }
    .phone-img {
      border-width:1em;
    }
  }
  .caption {
    text-align: center;
    font-size: 12rem;
    padding-top:8rem;
  }
}
