img.poster-image {
  position:absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.poster-image-container, .preload-image-container {
 background-color:currentColor;
 position: relative;
 display:block;
 overflow:hidden;
 width:100%;
}
img.preload-image {
 filter:blur(10px);
 transform: scale(1.1);
 &.no-blur {
   filter:none;
   transform: none;
 }
}

.post-image {
  > div {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: $d9;
    width:100%;
  }
  .phone-image-container {
    border-width:1px;
    padding: 65px 10px;
    border-radius: 30rem;
    max-width: (320px + 20px);
    .phone-image {
      border-width:1px;
    }
    &:before, &:after {
     display:block;
      content:'';
    }
    &:before {
      position: absolute;
     right: 40px;
      top: -5px;
      height: 4px;
      width: 45px;
      border-width: 1px 1px 0
    }
   &:after {
      position: absolute;
      top: 35px;
     left: 50%;
           margin-left: -27px;
      width: 54px;
      height: 5px;
      border-radius: 3.5px;
      border-width: 1px
    }
    .home-btn {
       position: absolute;
       left: 50%;
       bottom: 13px;
       border-width: 1px;
       border-radius: 50%;
       width: 40px;
       height: 40px;
       margin-left: -20px;
       &:after {
         position: absolute;
         content: '';
         border-radius: 50%;
         border-width: 1px;
         width: 22px;
         height: 22px;
         left: 8px;
         top: 8px;
       }
     }
  }
  .desktop-image-container {
    padding-top: 30px;
    border-width:1px;
    border-radius: 7px 7px 0 0;

    position: relative;
    max-width: $d9;
    .poster-image-container {
      border-top-width: 1px;
    }
    .circles,&:after,&:before {
       display: block;
      content: '';
      border-radius: 50%;
       width: 10px;
       height: 10px;
       position: absolute;
       left: 10px;
       top: 10px;
       background:currentColor;
     }
     .circles {
         left: 28px
    }
     &:after {
         left: 46px
    }
  }
  .full-bleed {
    width: calc(100% + 32px);
    left: -16px;
    max-width: none !important;
    .poster-image-container {
        padding-top: 0 !important;
        height: 200px;
    }
  }
  .normal-image-container {
    position: relative;
    left: 50%;
    transform:translateX(-50%);
    margin-left: 0;
    margin-right: 0;
    @media(min-width:$d-mq) {
      width: 100vw;
      max-width: $d9;

    }
  }
  figcaption {
    font-size: 14px;
    text-align: center;
    max-width: 400px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
  }
}
