img.poster-image {
  position:absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.poster-image-container, .preload-image-container {
 position: relative;
 display:block;
 overflow:hidden;
}
img.preload-image {
 filter:blur(10px);
 transform: scale(1.1);
}
