.gl-mod.landing-header {

  .content-centerer {
    padding: 0 24px ;

  }

  h1 {
    font-size: 30px;
    margin-bottom:16px;
    @media(min-width: $t7) {
      font-size: 36px;
    }
    @media(min-width:$d-mq) {
      font-size: 42px;
    }
  }
  .landing-header__excerpt {
    font-size:14px;
    @media(min-width:$t7) {
      width: 75%;
    }
    @media(min-width:$d-mq) {
      font-size:16px;
    }
  }

}

.gl-mod.landing-header-rule {
  height: 1px;
  border-top-width:1px;
  margin: 24px 0;
  @media(min-width:$d-mq) {
    margin:32px 0;
  }
}
