.gl-mod.landing-pagination {
  padding:0 16px 16px 16px;

  text-align: center;
  font-size: 12px;
  max-width: 432px;
  margin: 0 auto;
  @media($dt) {
    padding: 24px;
    padding-top:0;
    max-width: 432px;
  }
  .inner {
    border-width: 1px;
    box-shadow: 2px 2px 0 currentColor;
    &.full-width {
      display:inline-block;
    }
  }
  a {
    display: block;
    float: left;
    width: 100%;
    text-decoration: none;
    padding: 8px;
    &.full-width {
      &.older-posts {
        padding-left: 12px;
      }
      &.newer-posts {
        padding-right:12px;
      }
    }
    &.half-width {
      width: 50%;
      text-align: left;
      padding: 8px 16px;
      @media($dt) {
        padding: 12px 16px;
      }
      &:last-child {
        border-left-width:1px;
        text-align: right;
      }
    }
    svg {
      display: inline-block;
      margin: 4px;
      width:12px;
      height: 12px;
      vertical-align: middle;
    }
  }
}
