.gl-mod.landing-header {

  padding-bottom:16px;
  @media($dt) {
    padding-bottom: 24px;
  }
  h1 {
    font-size: 30px;
    @media(min-width: 800px) {
      font-size: 36px;
    }
    @media($dt) {
      font-size: 42px;
    }
  }
  .landing-header__excerpt {
    @media($dt) {
      width: calc((100% / 12) * 7 - 12px)
    }
  }
}

.gl-mod.landing-header-rule {
  height: 1px;
  border-top-width:1px;
}
