ul.gl-mod.link-box-list {
  border-width:1px;
  @media(min-width:$t7) {
    display:flex;
    flex-wrap:wrap;
  }
  >li {
    border-style:dashed;
    position:relative;
    &:before {
      left: -1px;
      top: 0;
      height: 100%;
      border-right-width: 3px;
      width: 3px;
      position: absolute;
      transition: transform .15s;
      transform: scale(0,1);
      transform-origin: left center;
    }
    &:hover {
      &:before {
        transform: scale(1,1);
      }
    }
    &:not(:last-child) {
     border-bottom-width: 1px;
    }
    @media(min-width:$t7) {
      width: 50%;
      &:nth-child(odd) {
       border-right-width:1px;
      }
      &:last-child, &:nth-last-child(2) {
       border-bottom-width:0;
      }
      &:nth-last-child(2):nth-child(even) {
        border-bottom-width:1px;
      }
    }
    a {
      display:block;
      padding: 16px;
      text-decoration:none;
      @media(min-width: $t7) {
        padding: 16px 20px 16px 16px;
      }
    }
  }

}
