//Core
@import 'variables.scss';
@import 'mixins.scss';

@import "normalize.scss";
@import "scaffold.scss";
@import "utilities.scss";

@import 'header';
@import 'homepage';
@import 'footer';
@import 'project-page';
