//Core
@import 'variables.scss';
@import 'mixins.scss';
@import "utilities.scss";
@import "normalize.scss";
@import 'basic-things';
@import 'typography';
@import 'section-spacing';
@import 'reading-section';
@import 'header';
@import 'navigation';
@import 'homepage';
@import 'image-styles';
@import 'project-card';
@import 'project-card-container';
@import 'footer';
@import 'tagged-list';
@import 'bottom-ctas';
@import 'link-box-list';
@import 'project-page';
//@import 'drop-shadow';
@import 'landing-header';
@import 'blog-landing';
@import 'blog-post-page';
@import 'landing-pagination';
@import 'about';
@import 'grid-blank';
@import '2-col-setup.scss';
@import 'contact-page';
@import 'media-stream.scss';

@import 'full-click-area';
@import 'liner';
@import 'color-switch';
@import 'body-animation';
@import 'box-shadows';
@import 'line-hover';

//@import "dark-mode.scss";

//DARK MODE
.system-pref-test {
    display:none;
    font-size: 1px; 
}

@media (prefers-reduced-motion), (prefers-color-scheme: dark) {

    .system-pref-test {
        font-size: 2px; 
    }
	*, *:before, *:after {
   animation: none !important;
  }
	#liner {
		display: none !important
  }
  
}



/* REMOVE IN PRODUCTION*/
//@import 'gridlines';
/* END REMOVE IN PRODUCTION*/

/*
@import "scaffold.scss";
@import 'typography';





@import 'project-page';
@import 'image-styles';
@import 'bottom-cta-links';


*/
