.media-stream.container {
  padding: 0 24px 24px;

  @media(min-width:$t7) {
    .media-item-block {
      display:flex;
      width: 100%;
      flex-wrap: wrap;
    }
  }

  .media-item {
    &.clickthru {
      a.poster {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height:100%;
        display:block;
      }
      &:hover {
        border-style:solid;
        .info h2 .hover{
          text-decoration: underline;
        }
      }
    }
    position: relative;
    margin: 0 0 16px 0;
    padding: 16px;
    border-width: 1px;
    border-style: dotted;
    display:flex;
    align-items: center;
    //height: 132px;
    overflow:hidden;
    &.blank {
      color:white;
      visibility: hidden;
    }
    @media(min-width:$t7) {
      margin-bottom:24px;
      @include grid-width(2, 24px, 1);
      &:nth-child(even) {
        margin-left: 24px;
      }
    }
    @media(min-width:$d-mq) {
      @include grid-width(3,24px,1);
      margin: 0 0 24px 24px;
      &:nth-child(3n-2) {
        margin-left: 0;
      }
    }


    .info {

      padding-left: 16px;
      line-height: 1.2;

      min-width: 0;
      h2 {
        font-size: 18px;
        &.long-title {
          font-size:14px;
        }
        &.short-title {
          font-size: 22px;
        }
        &.single {
          text-indent: -.4em;

          &:before {
            content: '\201C';
          }
          &:after {
            content: '\201D';
          }
          font-weight: normal;
          font-style:italic;
        }
      }
      .extra {

        font-size:12px;
        text-transform: uppercase;
      }
      .byline {
        font-family: $font-serif;
        font-weight: normal;
        font-style: italic;
        font-size:14px;
      }
      .show-title {
        line-height:1.5;
        font-size:14px;
      }
    }
    .img-container {
      font-size: 1px;
      height: 100em;

      text-align: center;
      line-height: 0;
      position: relative;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 100em;

    }
    .media-image {
      $pw: 56em;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);

      vertical-align: middle;
      font-size:1.14px;


      /*
      @media($dt) {
        font-size:.093vw
      }
      @media(min-width:$dt-max) {
        font-size:1.14px;
      }
      */

      img {
        box-sizing: content-box;
        object-fit: cover;
        object-position: center center;
        max-width: none;
        background-color:currentColor;
      }
      &.type-cd {
        padding-left: 5em;
        border-width:1px;

        img {
          padding-left:1px;
          width: calc(74em + 1px);
          height: 74em;

          max-width:none;
        }
      }
      &.type-other {
       img {
         padding: 1px;
         width: calc(74em + 2px);
         height: calc(74em + 2px);
         box-shadow: 1px 1px 0 currentColor;
        }
      }
      &.type-movie {

        img {
          padding: 1px;
          box-shadow: 1px 1px 0 currentColor;
          width: $pw;
          height: ($pw * 1.5);
        }
      }
      &.type-tv {
        border-width: 1px;
        padding: 4em;


        img {
          width: 74em;
          height: (74em * (9/16));
          padding: 1px;
        }
        &:before, &:after {
          display:block;
          content:'';
          position: absolute;
        }
        &:before {
          width: 24em;
          height: 24em;
          border-width: 0 0 1px 1px;
          left: 50%;
          top: calc(-28em - 1px);
          transform: translateX(-50%) rotate(-45deg) ;
        }
        &:after {
          width: 32em;
          height: 5em;
          border-width:1px;
          bottom: -10em;
          left: 50%;
          transform:translateX(-50%);

        }
      }
      &.type-book {
        padding: 10em 0 0 7em;
        border-width: 1px 0 1px 1px;
        border-radius: 5em 0 0 5em;
        &:before, &:after {
          display:block;
          content:'';
          position:absolute;
        }
        &:before {
          width: calc(100% + 1px);
          height: 10em;
          top: 0px;
          left: -1px;
          border-width: 0 0px 1px 1px;
          border-radius: 5em 0 0 5em;
        }
        &:after {
          border-width: 1px 0 1px;
          height: 3.5em;
          width: calc(100% - 10em);
          top: 2.5em;
          left: 6em;
        }
        img {
          padding: 0 1px 0 1px;
          height: calc(74em + 1px);
        }
      }
    }

  }
}
