.media-stream.container {
  padding: 0 24px 24px;

  @media(min-width:$t7) {
    .media-item-block {
      display:flex;
      width: 100%;
      flex-wrap: wrap;
    }
  }

  .media-item {
    &.clickthru {
      a.poster {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height:100%;
  //      display:none;
      }
      &:hover {
        border-style:solid;
        .info h2 .hover{
          text-decoration: underline;
        }
      }
    }
    position: relative;
    margin: 0 0 16px 0;
    padding: 16px;
    border-width: 1px;
    border-style: dotted;
    display:flex;
    align-items: center;
    //height: 132px;
    overflow:hidden;
    &.blank {
      color:white;
      visibility: hidden;
    }
    @media(min-width:$t7) {
      margin-bottom:24px;
      @include grid-width(2, 24px, 1);
      &:nth-child(even) {
        margin-left: 24px;
      }
    }
    @media(min-width:$d-mq) {
      @include grid-width(3,24px,1);
      margin: 0 0 24px 24px;
      &:nth-child(3n-2) {
        margin-left: 0;
      }
    }


    .info {

      padding-left: 16px;
      line-height: 1.2;

      min-width: 0;
      h2 {
        font-size: 18px;
        &.long-title {
          font-size:14px;
        }
        &.short-title {
          font-size: 22px;
        }
        &.single {
          text-indent: -.4em;

          &:before {
            content: '\201C';
          }
          &:after {
            content: '\201D';
          }
          font-weight: normal;
          font-style:italic;
        }
      }
      .extra {

        font-size:12px;
        text-transform: uppercase;
      }
      .byline {
        font-family: $font-serif;
        font-weight: normal;
        font-style: italic;
        font-size:14px;
      }
      .show-title {
        //line-height:1.5;
        font-size:14px;
      }
    }
    .img-container {
      font-size: 1px;
      height: 100em;

      text-align: center;
      line-height: 0;
      position: relative;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 100em;

    }
    .media-image,  {
      $pw: 56em;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);

      vertical-align: middle;
      font-size:1.14px;


      /*
      @media($dt) {
        font-size:.093vw
      }
      @media(min-width:$dt-max) {
        font-size:1.14px;
      }
      */

      img,.media-blank {
        box-sizing: content-box;
        object-fit: cover;
        object-position: center center;
        max-width: none;
        background-color:currentColor;
        position: relative;
      }
      .media-blank {
        background:none;
        display:block;
        &:before,&:after {
          position:absolute;
        }
      }
      &.type-cd {
        padding-left: 5em;
        border-width:1px;

        img,.media-blank, .playlist-blank {
          border-left-width:1px;
          width: calc(74em + 1px);
          height: 74em;
          display:block;
          max-width:none;
        }
        .playlist-tag {
          position: absolute;
          font-size: 10px;
          right: .5em;
          bottom: .5em;
          padding: .75em .25em;
          border: 1px solid currentColor;
          box-shadow: 2px 2px 0 currentColor;
          background: $white;
          font-family: $font-sans;
          text-transform: uppercase;
        }
        .playlist-blank {
          position: relative;
          span {
            position:absolute;
            display:block;
          }
          .playlist-image {
            width: 50%;
            height: 50%;
            background-size: 200% 200%;
            &:nth-child(2) {
              right: 0;
              top: 0;
              background-position: top right;
            }
            &:nth-child(3) {
              right: 0;
              bottom: 0;
              background-position:bottom right;
            }
            &:nth-child(4) {
              left: 0;
              bottom: 0;
              background-position:bottom left;
            }
            &:first-child {
              background-size: 100% 100%;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
            }
          }
        }
      }
      &.type-other {
       img {
         padding: 1px;
         width: calc(74em + 2px);
         height: calc(74em + 2px);
         box-shadow: 1px 1px 0 currentColor;
        }
      }
      &.type-movie {

        img,.media-blank {
          border-width: 1px;
          box-shadow: 1px 1px 0 currentColor;
          width: $pw;
          height: ($pw * 1.5);
        }
      }
      &.type-tv {
        border-width: 1px;
        padding: 4em;


        img, .media-blank {
          width: 74em;
          height: (74em * (9/16));
          border-width: 1px;
        }
        &:before, &:after {
          display:block;
          content:'';
          position: absolute;
        }
        &:before {
          width: 24em;
          height: 24em;
          border-width: 0 0 1px 1px;
          left: 50%;
          top: calc(-28em - 1px);
          transform: translateX(-50%) rotate(-45deg) ;
        }
        &:after {
          width: 32em;
          height: 5em;
          border-width:1px;
          bottom: -10em;
          left: 50%;
          transform:translateX(-50%);

        }
      }
      &.type-book {
        padding: 10em 0 0 7em;
        border-width: 1px 0 1px 1px;
        border-radius: 5em 0 0 5em;
        &:before, &:after {
          display:block;
          content:'';
          position:absolute;
        }
        &:before {
          width: calc(100% + 1px);
          height: 10em;
          top: 0px;
          left: -1px;
          border-width: 0 0px 1px 1px;
          border-radius: 5em 0 0 5em;
        }
        &:after {
          border-width: 1px 0 1px;
          height: 3.5em;
          width: calc(100% - 10em);
          top: 2.5em;
          left: 6em;
        }
        img,.media-blank {
          width: 48.026em;
          border-width: 0 1px 0 1px;
          height: calc(74em + 1px);
        }
      }
    }

  }
  //MEDIA MEDIA media blanks

  .media-image {
    .media-blank {
      &:before, &:after {
        position:absolute;
      }
      &.type-movie {
        svg {
          fill:currentColor;
          position:absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
          stroke-width: 0;
          stroke:none;
          width: 45em;
          height: 45em;
        }
      }
      &.type-cd {
        &:before,&:after {
          width: 54em;
          height: 54em;
          border-width: 1px;
          left: 50%;
          top: 50%;
          border-radius: 50%;
          transform: translate(-50%,-50%);
        }
        &:after {
          width: 12em;
          height: 12em;
        }
      }
      &.type-tv {
        &:before, &:after {
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
          border-width: 1px;
          border-radius: 50%;
          width: 32em;
          height: 32em;
        }
        &:after {
          width: 22em;
          height: 22em;
          border-width: 1px;
          border-color: transparent;
          border-bottom-color: currentColor;
        }
      }
      &.type-book {
        &:before, &:after {
          position:absolute;
        }
        &:before {
          width: 12em;
          height: 12em;
          border: 6em solid;
          border-bottom-color: transparent;
          position: absolute;
          right: 8em;
          top: 14em;
        }
        &:after {
          background:currentColor;
          width: 12em;
          height: 14em;
          position:absolute;
          right: 8em;
          top: 0;
        }
      }
    }
    .helper-1 {
      &.type-tv {
        background: red;
        width: 20em;
        position:absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 22em;
        &:before, &:after {
          position:absolute;
          width: 6em;
          height: 6em;
          border-width: 1px;
          border-radius:50%;
          left: 0;
          top: calc(50% - 3em);
        }
        &:after {
          right: 0;
          left: auto;
        }
      }
      &.type-book {
        &:before, &:after {
          position:absolute;
          width: 24em;
          height: 3em;
          background: currentColor;
          right:8em;
          top: 56em;
        }
        &:after {
          top: 62em;
        }
      }
    }
  }


}
