.media-stream.container {
  padding-bottom: 24px;
  @media(min-width: $dt-break) {
    grid-row-gap: 16px;
  }
  @media($dt) {
    grid-row-gap: 24px;
  }
  h2.sub-heading {
    @media(min-width:$dt-break) {
      grid-column-start: 1;
      grid-column-end: span 8;
    }
    @media($dt) {
      grid-column-end: span 12;
    }
  }

  .media-item {
    position: relative;
    margin-bottom:16px;
    display:flex;
    align-items: center;

    @media(min-width: $dt-break) {
      margin: 0;
      grid-column-start: span 4;
    }
    @media($dt) {
      grid-column-start: span 3;

    }


    .info {

      padding-left: 16px;
      line-height: 1.2;


      h2 {
        font-size: 18px;
        &.long-title {
          font-size:16px;
        }
        &.short-title {
          font-size: 22px;
        }
        &.single {
          text-indent: -.4em;

          &:before {
            content: '\201C';
          }
          &:after {
            content: '\201D';
          }
          font-weight: normal;
          font-style:italic;
        }
      }
      .extra {
        font-family: $font-sans;
        font-size:12px;
        text-transform: uppercase;
      }
      .byline {
        font-family: $font-serif;
        font-weight: normal;
        font-style: italic;
      }
      .show-title {
        font-family: $font-sans;
        font-size:14px;
      }
    }
    .img-container {
      font-size: 1px;
      height: 100em;

      text-align: center;
      line-height: 0;
      position: relative;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 100em;
    
    }
    .media-image {
      $pw: 56em;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);

      vertical-align: middle;
      font-size:1px;

      @media(min-width:400px) {
        font-size:1.14px;
      }
      /*
      @media($dt) {
        font-size:.093vw
      }
      @media(min-width:$dt-max) {
        font-size:1.14px;
      }
      */

      img {
        box-sizing: content-box;
        object-fit: cover;
        object-position: center center;
        max-width: none;
        background-color:currentColor;
      }
      &.type-cd {
        padding-left: 5em;
        border-width:1px;

        img {
          padding-left:1px;
          width: calc(74em + 1px);
          height: 74em;

          max-width:none;
        }
      }
      &.type-movie {

        img {
          padding: 1px;
          box-shadow: 1px 1px 0 currentColor;
          width: $pw;
          height: ($pw * 1.5);
        }
      }
      &.type-tv {
        border-width: 1px;
        padding: 4em;


        img {
          width: 74em;
          height: (74em * (9/16));
          padding: 1px;
        }
        &:before, &:after {
          display:block;
          content:'';
          position: absolute;
        }
        &:before {
          width: 24em;
          height: 24em;
          border-width: 0 0 1px 1px;
          left: 50%;
          top: calc(-28em - 1px);
          transform: translateX(-50%) rotate(-45deg) ;
        }
        &:after {
          width: 32em;
          height: 5em;
          border-width:1px;
          bottom: -10em;
          left: 50%;
          transform:translateX(-50%);

        }
      }
      &.type-book {
        padding: 10em 0 0 7em;
        border-width: 1px 0 1px 1px;
        border-radius: 5em 0 0 5em;
        &:before, &:after {
          display:block;
          content:'';
          position:absolute;
        }
        &:before {
          width: calc(100% + 1px);
          height: 10em;
          top: 0px;
          left: -1px;
          border-width: 0 0px 1px 1px;
          border-radius: 5em 0 0 5em;
        }
        &:after {
          border-width: 1px 0 1px;
          height: 3.5em;
          width: calc(100% - 10em);
          top: 2.5em;
          left: 6em;
        }
        img {
          padding: 0 1px 0 1px;
          height: calc(74em + 1px);
        }
      }
    }

  }
}
