.media-stream.container {
  padding-bottom: 24px;
  @media(min-width: $dt-break) {
    width: 800px;
    margin: 0 auto;
    display:flex;
    flex-wrap:wrap;
    padding-left:8px;
    padding-right: 8px;

  }
  @media($dt) {
    width: auto;
    max-width: $dt-max;
    padding-left: 12px;
    padding-right: 12px;
  }
  .media-item {
    position: relative;
    margin: 0 16px 16px 16px;

    @media(min-width: $dt-break) {
      width: calc(50% - 16px);
      padding-top: 24px;
      margin: 0 8px 16px 8px;
    }
    @media($dt) {
      width: calc((100% / 3) - 24px);
      margin: 0 12px 24px 12px;
    }

    .inner {
      /*border-width:1px;
      box-shadow: 2px 2px currentColor;
      padding: 16px 0;*/
      display:flex;
      align-items: center;
    }
    .info {

      padding-left: 16px;
      line-height: 1.2;


      h2 {
        font-size: 18px;
        &.long-title {
          font-size:16px;
        }
        &.short-title {
          font-size: 22px;
        }
        &.single {
          text-indent: -.4em;
          &:before {
            content: '\201C';
          }
          &:after {
            content: '\201D';
          }
          font-weight: normal;
          font-style:italic;
        }
      }
      .extra {
        font-family: $font-sans;
        font-size:12px;
        text-transform: uppercase;
      }
      .byline {
        font-family: $font-serif;
        font-weight: normal;
        font-style: italic;
      }
      .show-title {
        font-family: $font-sans;
        font-size:14px;
      }
    }
    .img-container {

      height: 95px;
      text-align: center;
      line-height: 0;
      position: relative;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: calc((100% / 3) - 12px);

    }
    .media-image {
      $pw: 60em;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      font-size: 1px;
      vertical-align: middle;
      font-size:.25vw;
      @media(min-width:400px) {
        font-size:1.14px;
      }
      @media($dt) {
        font-size:.093vw
      }
      @media(min-width:$dt-max) {
        font-size:1.14px;
      }

      img {
        box-sizing: content-box;
        object-fit: cover;
        object-position: center center;
        max-width: none;
      }
      &.type-cd {
        padding-left: 5em;
        border-width:1px;

        img {
          border-left-width: 1px;
          width: 75em;
          height: 75em;

          max-width:none;
        }
      }
      &.type-movie {

        img {
          border-width: 1px;
          box-shadow: 1px 1px 0 currentColor;
          width: $pw;
          height: ($pw * 1.5);
        }
      }
      &.type-tv {
        border-width: 1px;
        padding: 4em;


        img {
          border-width: 1px;
          width: 75em;
          height: (75em * (9/16));
        }
        &:before, &:after {
          display:block;
          content:'';
          position: absolute;
        }
        &:before {
          width: 24em;
          height: 24em;
          border-width: 0 0 1px 1px;
          left: 50%;
          top: calc(-28em - 1px);
          transform: translateX(-50%) rotate(-45deg) ;
        }
        &:after {
          width: 32em;
          height: 5em;
          border-width:1px;
          bottom: -10em;
          left: 50%;
          transform:translateX(-50%);

        }
      }
      &.type-book {
        padding: 10em 0 0 7em;
        border-width: 1px 0 1px 1px;
        border-radius: 5em 0 0 5em;
        &:before, &:after {
          display:block;
          content:'';
          position:absolute;
        }
        &:before {
          width: calc(100% + 1px);
          height: 10em;
          top: 0px;
          left: -1px;
          border-width: 0 0px 1px 1px;
          border-radius: 5em 0 0 5em;
        }
        &:after {
          border-width: 1px 0 1px;
          height: 3.5em;
          width: calc(100% - 10em);
          top: 2em;
          left: 6em;
        }
        img {
          border-width: 0 1px 0 1px;
          max-height: 78em;
        }
      }
    }
    .time {
      text-transform: uppercase;
      padding-top:8px;
      margin-bottom:.5em;
      @media(min-width: $dt-break) {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
      }
    }
  }
}
