nav {
  position: absolute;
  right: 0;
  width:calc(100% - 56px);
  height: 100vh;
  overflow-x:hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color:currentColor;
  padding-left: 16px;
  transform: translateX(200%);
  transition: transform .15s;
  transition-timing-function: ease-in;
  #navigation-toggle:checked + .scrim + & {
    transform: translateX(0);
    transition-timing-function: ease-out;
  }
  > * {
    color:white;
  }
  a {
    text-decoration: none;
  }

  #top-logo {
    line-height: 1;
    padding-top: 16px;
    .title {
      text-transform: uppercase;
      font-weight: bold;
      font-size:14px;
      > span {
        display: block;
      }
    }
  }
  .top-tagline {
    font-size:12px;
    padding-bottom:16px;
  }
  .nav-item {
    font-size: 28px;
    line-height: 1.62;
    &.active {
      a {
        text-decoration: underline;
      }
    }
    a {

    }
  }
  @media(min-width:802px) {
    position: static;
    width: auto;
    height: auto;
    background:none;
    transform: none;
    > * {
      color:currentColor;
    }
    .lockup {
      position: absolute;
      left: 56px;
      top: 50%;
      transform: translateY(-50%);
      &.over-fold {
        display:none;
      }
      @media(min-width: 1024px) {
        left: 56px + (24px - 16px);
      }
      #top-logo {
        padding-top: 0px;
        .title {
          > span {
            display:inline;
          }
        }
      }
      .top-tagline {
        padding-bottom:0;
      }
    }
    .nav-items {
      position: absolute;
      right: 16px;
      top: calc(50% - (38px / 2));
      border-width:3px;
      box-shadow: 3px 3px 0 currentColor;
      padding: 0 4px;
      @media($dt) {
        right: 24px;
      }
      background:$white;
      .nav-item {
        display: inline-block;
        line-height: 1;
        font-size: 12px;
        font-weight: bold;
        font-family: $font-sans;
        a {
          display:block;
          padding: 0 8px;
          line-height: 32px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
