.p-s.top-hero {
  height: 56.25vw;
  max-height: calc(100vh - 200px);
}
.p-s {
  &.heading {
    .tagline {
      font-size: 16px;
    }
  }
  &.top-links {
    position: relative;
    margin-top: -10px;
    * {
      display: inline-block;

    }
    h3 {
      margin-right: 4px;
    }
  }

&.what-i-learned {
  position: relative;
  margin: -10px 16px 24px 16px;
  padding: 8px 8px 4px 8px;
  border-width: 1px;
  border-style: dashed;
  ul {
    > li {
      width: 50%;
      margin-bottom: 4px;
      float: left;
      padding-right: 8px;
      &:nth-child(even) {
        padding: 0 0 0 8px;
      }
    }
  }
}

}

/*

.project-page-header {
  height: 48rem* 3 + 8rem;
  background:currentColor;
}
.project-page-content-container {

  &.no-header {
    padding-top: 68px;
  }

  .project-page-content {
    margin-top: 1em;

  }
  .project-top-links {
    margin-top:16rem;
    border-width: 1rem ;
    display:flex;
    align-items:center;

    > a {
      flex-grow: 0;
      line-height:30rem;
      display: block;
      border-left-width:1rem;
      text-align: center;

      font-size:12rem;
      font-weight: bold;
      text-decoration: none;
      &:first-child {
        border-left-width:0;
      }
    }
    &.full-count {
      @media (max-width:800px) {
        border:0;
        display:block;
        margin-bottom: 12rem;
        > a {
          border-width:1rem;
          line-height: 1;
          padding: 8rem;
          width: auto !important;
          display:inline-block;
          margin: 0 4rem 4rem 0;
          &:first-child {
            border-width: 1rem;
          }
        }
      }
    }
  }
}
.project-what-i-learned {
  margin-top: 16rem;
  border-width:1rem;
  border-style:dashed;
  padding:8rem 8rem 4rem 8rem;
  > h3 {
    margin-bottom: 4rem;
  }
  ul {
    li {
      float:left;
      width: calc(50% - 12rem);
      margin: 0 0 4rem 0;
      &:nth-child(odd) {
        margin-right: 24rem;
      }
      &:nth-child(even) {
        width: calc(50% - 12rem);
      }
    }
  }
}
.project-tagged-in {
  margin-top: 16rem;
  font-size: 12rem;
  * {
    display: inline-block;
    margin: 0 4rem 0 0;
  }
}
*/
