
.project-card {
  margin: 0 16px 16px 16px;
  position:relative;
  border-width: 2px;
  box-shadow: 2px 2px 0px currentColor;
  &:hover {
    box-shadow: 4px 4px 0 currentColor;
    @include bg-stripe();
  }
  .poster-image-container {
    width: 100%;
    height:0;
    border-bottom-width: 2px;
    padding-top: percentage(9/16);
    &.post {
      padding-top: percentage((9/16)/2);
    }
  }
  h3 > a {
    text-decoration: none;
    display:block;
    position:relative;
    padding:14px;
    font-weight: normal;
    span {
      display: block;
    }
    .title {
      font-size: 20px;
      line-height: 1.1;
      margin-bottom: 4px;
      font-weight: bold;
      &.post {
        font-size: 24px;
      }
    }
  }
}
