.gl-mod.project-card-container {
  padding: 0 24px;

  @media(min-width:$t7) {
    padding: 0 24px;
    display:flex;
    flex-wrap: wrap;
    .project-card {
      margin: 0 12px 24px 0;
      @include grid-width(2, 24px, 1);
      &:nth-child(even) {
        margin-right:0;
        margin-left: 12px;
    }
  }
  @media(min-width:$d-mq) {
    .project-card {
      @include grid-width(3, 24px, 1);
      margin: 0 12px 24px;
      &:nth-child(3n) {
        margin-right: 0;
      }
      &:nth-child(3n - 2) {
       margin-left: 0; 
      }
        
    }
  }
}
