.gl-mod.project-card-container {
  padding: 0 24px;

  @media(min-width:$t7) {
    padding: 0 12px;
    display:flex;
    flex-wrap: wrap;
    .project-card {
      margin: 0 12px 24px 12px;
      width: calc(50% - 24px);
    }
  }
  @media(min-width:$d-mq) {
    .project-card {
      width: calc(33.333% - 24px);
    }
  }
}
