
.project-card {
  margin: 0 .5rem .5rem .5rem;
  position:relative;
  .poster-image-container {
    width: 100%;
    height:0;
    padding-top: percentage(9/16);
  }
  h3 > a {
    text-decortation: none;
    display:block;
    position:relative;
    border-width: 3px;
    padding: calc(.5rem - 3px); 
  }
}
