.reading-section {
  line-height: 1.5;
  max-width: $m4;
  margin-left: auto;
  margin-right: auto;
  padding: 0 24px;
  &.no-padding {
    padding: 0;
  }
  @media(min-width:$t7) {
    max-width: $t7;
  }
}

.reading-section .content{
  &.with-bullet:after {
    display:block;
    content:'';
    margin: 2em auto;
    width: 1em;
    height: 1em;
    border-width: 1px;
    border-radius:50%;
  }
  h1,h2,h3,h4,h5,h6 {
    font-size: 36px;
    margin-bottom: .5em;
    line-height:1.2;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 18px;
  }
  p, ul, ol, blockquote, pre, hr {
    margin-bottom: 1.5em;
    line-height: 1.5;
  }

  ul,ol {
    margin-left: 16px;
    padding:0;
    list-style-type: circle;
    @media(min-width:$dt-break) {
      margin-left: 0;
    }
    > li {
      margin-bottom: 8px;
      line-height: 1.2;
      list-style-type: circle;
    }
  }
  ol {
    list-style-type: decimal;
    > li {
      list-style-type: decimal;
    }
  }
  blockquote {
    margin: 0 0 1.5em 0;
    position: relative;
    padding-left: 32px;
    &:before {
      display: block;
      content:'\0022';
      left: -8px;
      top:0;
      position: absolute;
      font-family: $font-serif;
      font-weight: bold;
      font-size: 48px;
      line-height: 1;
    }
    p {
      margin-bottom:1em;
    }
    @media(min-width:$dt-break) {
      padding-left: 0;
      &:before {
        left:-40px;
      }
    }

  }
  blockquote, blockquote p {
    font-style: oblique;
    font-family: $font-sans;
  }
  hr {
    height: 32px;

    position: relative;
    &:before {
      display:block;
      content:'* * * * *';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      line-height: 32px;
      font-size: 32px;
    }
    /*
    &:after {
      display: block;
      content: '';

      height: 0px;
      border-top-width: 1px;
      position: absolute;
      left: 16px;
      right: 16px;
      top: 10px;
    }*/
  }
  pre, code {
    font-size: 14px;
    font-family: Menlo,Monaco,"Courier New",Courier,monospace;
  }
  code {
   border-width:1px;
   border-style: dotted;
   padding: 0 4px;
  }
  pre {
    position: relative;
    padding: 1px;
    background: currentColor;
    margin-left:4px;
    margin-right: 4px;
    code {
      color:$white;
      border-width:0;
      display: block;
      padding: 16px;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
    &:before {
      display: block;
      content:'';
      position: absolute;
      left: -4px;
      right: -4px;
      bottom: -4px;
      top: -4px;
      border: 1px dashed currentColor;
    }

  }
}
