.reading-section {
  line-height: 1.5;
  h1,h2,h3,h4,h5,h6 {
    font-size: 20rem;
    margin-bottom: 4rem;
  }
  p, ul, ol, blockquote, pre, hr {
    margin-bottom: 1.5em;
    line-height: 1.5;
  }

  ul,ol {
    margin-left: 16rem;
    padding:0;
    list-style-type: circle;
    > li {
      margin-bottom: 8rem;
      line-height: 1.2;
      list-style-type: circle;
    }
  }
  ol {
    list-style-type: decimal;
    > li {
      list-style-type: decimal;
    }
  }
  blockquote {
    margin: 0 0 1.5em 0;
    position: relative;
    padding-left: 32rem;
    &:before {
      display: block;
      content:'\0022';
      left: -8rem;
      top:0;
      position: absolute;
      font-family: $font-serif;
      font-weight: bold;
      font-size: 48rem;
      line-height: 1;
    }

  }
  blockquote, blockquote p {
    font-style: oblique;
    font-family: $font-sans;
  }
  hr {
    height: 32rem;

    position: relative;
    &:before {
      display:block;
      content:'* * * *';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      line-height: 32rem;
      font-size: 32rem;
    }
    &:after {
      display: block;
      content: '';

      height: 0px;
      border-top-width: 1px;
      position: absolute;
      left: 16rem;
      right: 16rem;
      top: 10rem;
    }
  }
  pre, code {
    font-size: 12rem;
  }
  pre {
    position: relative;
    padding: 1rem;
    code {
      display: block;
      padding: 8rem;
      overflow-x: auto;
    }
    &:before, &:after {
      display: block;
      content:'';
      position: absolute;
      left: 0;
      top: 0;
      width: 4rem;
      height: 100%;
      border-width: 1px 0 1px 1px;
    }
    &:after {
      left: auto;
      right: 0;
      border-width: 1px 1px 1px 0;
    }
  }
}
