.reading-section {
  line-height: 1.5;
  h1,h2,h3,h4,h5,h6 {
    font-size: 24px;
    margin-bottom: 4px;
    line-height:1.2;
  }
  p, ul, ol, blockquote, pre, hr {
    margin-bottom: 1.5em;
    line-height: 1.5;
  }

  ul,ol {
    margin-left: 16px;
    padding:0;
    list-style-type: circle;
    > li {
      margin-bottom: 8px;
      line-height: 1.2;
      list-style-type: circle;
    }
  }
  ol {
    list-style-type: decimal;
    > li {
      list-style-type: decimal;
    }
  }
  blockquote {
    margin: 0 0 1.5em 0;
    position: relative;
    padding-left: 32px;
    &:before {
      display: block;
      content:'\0022';
      left: -8px;
      top:0;
      position: absolute;
      font-family: $font-serif;
      font-weight: bold;
      font-size: 48px;
      line-height: 1;
    }
    p {
      margin-bottom:1em;
    }
    @media(min-width:$dt-break) {
      padding-left: 0;
      &:before {
        left:-40px;
      }
    }

  }
  blockquote, blockquote p {
    font-style: oblique;
    font-family: $font-sans;
  }
  hr {
    height: 32px;

    position: relative;
    &:before {
      display:block;
      content:'* * * * *';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      line-height: 32px;
      font-size: 32px;
    }
    &:after {
      display: block;
      content: '';

      height: 0px;
      border-top-width: 1px;
      position: absolute;
      left: 16px;
      right: 16px;
      top: 10px;
    }
  }
  pre, code {
    font-size: 14px;
    font-family: Menlo,Monaco,"Courier New",Courier,monospace;
  }
  code {
   border-width:1px;
   border-style: dotted;
   padding: 0 4px;
  }
  pre {
    position: relative;
    padding: 1px;
    border-width: 1px;
    border-style:dotted;
    code {
      border-width:0;
      display: block;
      padding: 8px;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
    &:before, &:after {
      display: block;
      content:'';
      position: absolute;
      left: -1px;
      top: -1px;
      width: 5px;
      height: calc(100% + 2px);
      border-width: 1px 0 1px 1px;
    }
    &:after {
      left: auto;
      right: -1px;
      border-width: 1px 1px 1px 0;
    }
  }
}
