*, *:before, *:after {
   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

html {
  font-size: .32vw;
}
body {
  font-family: $font-serif;
  font-size:14rem;
  line-height: 1.25;
  color: #212121;
  background-color: $white;
  font-weight: normal;
  -webkit-font-smoothing: antialiased!important;
  -webkit-text-size-adjust: none;
  transition: color 2s linear;
}
body {
  *, *:before, *:after {
    color:currentColor;
    border:0px solid currentColor;
  }
}
$footer-height: 40rem;
$footer-margin: 48rem;
#main-content-container {
  min-height: calc(100vh - (#{$footer-height} + #{$footer-margin}));
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
textarea {
  resize: none;
}
// Links
a {
  text-decoration: underline;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

}
a, a:hover, a:active, a:focus {
  outline: 0;
}

// Figures
//
// We reset this here because previously Normalize had no `figure` margins. This
// ensures we don't break anyone's use of the element.

// IMGS
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
svg {
  display: block;
  max-width:100%;
  fill: currentColor;
  * {
    fill:currentColor;
    &[fill="none"] {
      fill:none !important;
    }
  }
}

//TYPE
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-size:1.1em
}



//TYPE STUFF
ul, p, ol {
  margin-bottom: 1.0em;
  &:last-child {
    margin-bottom: 0;
  }
}
ul.no-style {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin: 0;
  }
}
pre {
  width: 100%;
  overflow-y: visible;
  overflow-x: auto;
  position: relative;
  &:before {
    display:block;
    content:'';
    height:100%;
    width: 4rem;
    position: absolute;
    left: 0;
    top:0;
    border-width:1rem 0 1rem 1rem;
  }
}
pre > code {
  font-family: monospace;
  font-size: .95em;
  line-height: 1.1em;
  margin-left: 23rem;
  display:block;

}
ol, ul {
  margin: 0;
  margin-bottom: 1.5em;
  padding-left: 24rem;

  > li {
    margin-bottom: .25em;
    &:last-child {
      margin-bottom:0;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}
ul {
  list-style-type: circle;
}
twitterWidget, iframe {
  z-index:2;
  position: relative !important;
}
blockquote {
  padding: 0;
  margin: 0;
  font-size: inherit;
  border: 0;
  color: inherit;
  font-style: italic;
  padding-left: 23rem;
  border-left:1rem solid currentColor;
  margin-bottom:1em;
  .byline {
    display:block;
    font-weight: bold;
    font-size: .95em;
    font-family: $font-sans;
    font-style:normal;
    &:before {
      content:'-'
    }
  }
  p,
  ul,
  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }

  // Note: Deprecated small and .small as of v3.1.0
  // Context: https://github.com/twbs/bootstrap/issues/11660
  footer,
  small,
  .small {
    display: block;
    font-size: 80%; // back to default font-size
    &:before {
    }
  }
}

#liner {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top-width:1px;
  transform: rotate(-30deg);
  transform-origin: bottom left;
  pointer-events: none;
  height:1px;
  z-index:1;
  body[data-colormode="bw"] & {
    display:none;
  }
}
