
body {
  font-family: $font-serif;
  font-size:14rem;
  line-height: 1.25;
  color: #212121;
  background-color: $white;
  font-weight: normal;

  transition: color 2s linear;
}
body {
  *, *:before, *:after {
    color:currentColor;
    border:0px solid currentColor;
  }
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
textarea {
  resize: none;
}
// Links
a {
  text-decoration: underline;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

}
a, a:hover, a:active, a:focus {
  outline: 0;
}

// Figures
//
// We reset this here because previously Normalize had no `figure` margins. This
// ensures we don't break anyone's use of the element.

// IMGS
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
svg {
  display: block;
  max-width:100%;
  fill: currentColor;
  * {
    fill:currentColor;
    &[fill="none"] {
      fill:none !important;
    }
  }
}

h1, .h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2,.h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3, .h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4, .h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5, .h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6, .h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

hr {
  height: 3px;
  border-width: 1px 0;
  margin: 2em 16rem;
  position: relative;
  &:before, &:after {
    display:block;
    content:'';
    width: 18px;
    height: 18px;
    background: $white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    border-radius: 50%;
  }
  &:after {
    width: 10px;
    height: 10px;
    background:$white;
    border-width:1px;
  }
}

//TYPE STUFF
ul, p, ol {
  margin-bottom: 1.0em;
  &:last-child {
    margin-bottom: 0;
  }
}
ul.no-style {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin: 0;
  }
}
code {
   font-family: 'Courier New', Courier, monospace;
   font-size: .875em;
}
.code-block {
  position:relative;
  padding: 4rem 16rem;
  line-height: 1.1;
  &:before, &:after {
    display:block;
    content:'';
    width: 8rem;
    height: 100%;
    position: absolute;
    left: -0rem;
    top: 0;
    border-style: dashed;
    border-width: 1rem 0 1rem 1rem;
  }
  &:after {
    left: auto;
    right: -0rem;
    border-width: 1rem 1rem 1rem 0;
  }
  pre {
    margin:0;
    padding:0;
    width: 100%;
    overflow-x:auto;
    overflow-y: visible;
  }
  code {

  }
}
ol, ul {
  margin: 0;
  margin-bottom: 1.5em;
  padding-left: 24rem;

  > li {
    margin-bottom: .25em;
    &:last-child {
      margin-bottom:0;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}
ul {
  list-style-type: circle;
}
twitterWidget, iframe {
  z-index:2;
  position: relative !important;
}
blockquote {
  padding: 0;
  margin: 0;
  font-size: inherit;
  border: 0;
  color: inherit;
  font-style: italic;
  padding-left: 23rem;
  border-left:1rem solid currentColor;
  margin-bottom:1em;
  .byline {
    display:block;
    font-weight: bold;
    font-size: .95em;
    font-family: $font-sans;
    font-style:normal;
    &:before {
      content:'\2014';
      margin-right: 5rem;
    }
  }
  p,
  ul,
  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }

  // Note: Deprecated small and .small as of v3.1.0
  // Context: https://github.com/twbs/bootstrap/issues/11660
  footer,
  small,
  .small {
    display: block;
    font-size: 80%; // back to default font-size
    &:before {
    }
  }
}

#liner {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top-width:1px;
  transform: rotate(-30deg);
  transform-origin: bottom left;
  pointer-events: none;
  height:1px;
  z-index:1;

  body[data-colormode="bw"] & {
    display:none !important;
  }
}
