.mar-20 {
  margin-bottom: 20px;
}
.mar-10 {
  margin-bottom: 10px;
}
.gutter {
  padding-left: 16px;
  padding-right: 16px;
  @media(min-width: 1024px) {
    padding-left: 24px;
    padding-right: 24px;
  }
}
