.gl-mod.tagged-list {
  margin-bottom: (20px - 4px);
  > li {
    display: inline-block;
    margin: 0 8px 8px 0 ;

    a {
      display: block;
      padding: 4px 8px;
      text-decoration: none;
      border-width: 1px;
      font-size: 12px;
      border-width: 1px;
      border-style:dotted;
      box-shadow: 1px 1px 0 currentColor;
      &:hover {
        border-style: solid;
        box-shadow: 2px 2px 0 currentColor;
      }
    }
  }
}
