body, p {
  line-height: 1.4;
  font-family: $font-serif;
}
.sub-heading {
  font-size: 16px;
  font-family: $font-sans;
  font-weight: bold;
  margin-bottom: .5em;
}
/*
.story-title {
  font-weight: normal;
  font-size: 24rem;
  line-height: 1.25;
}
.story-sub-title {
  font-size: 16rem;
  font-weight: normal;
  font-style: italic;
  line-height: 20rem;
  font-family: $font-sans;
}
.story-content {
  font-size: 16rem;
  line-height:1.5;
}
*/
