body, p {
  line-height: 1.4;
  //font-size: 14px;
  font-family: $font-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: $font-sans;
}
.article-heading {
  font-size: 24px;
}
.tagline {
  font-family: $font-serif;
  font-weight: normal;
}
.mid-heading {
  font-size: 16px;
  font-family: $font-sans;
  font-weight: bold;
  line-height: 1.2;
}
.sub-heading {
  font-size: 14px;
  font-family: $font-sans;
  font-weight: bold;
  margin-bottom: 1em;
}
.meta, .meta p {
  font-size: 12px;
  font-weight: normal;
  font-family: $font-sans;
}
/*
.story-title {
  font-weight: normal;
  font-size: 24rem;
  line-height: 1.25;
}
.story-sub-title {
  font-size: 16rem;
  font-weight: normal;
  font-style: italic;
  line-height: 20rem;
  font-family: $font-sans;
}
.story-content {
  font-size: 16rem;
  line-height:1.5;
}
*/
