body, p {
  line-height: (24 / 16);
  font-family: $font-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: $font-sans;
  line-height: 1.2;
}
.article-heading {
  font-size: 27px;
  line-height: 1.1;
  overflow-wrap: break-word;
  word-wrap: break-word;
  @media(min-width: $dt-break) {
    font-size: 42px;
  }
}
.tagline {
  font-family: $font-serif;
  font-weight: normal;
  font-style: italic;
}
.mid-heading {
  font-size: 16px;
  font-family: $font-sans;
  font-weight: bold;


}
.sub-heading {
  font-size: 12px;
  font-family: $font-sans;
  font-weight: bold;
  margin-bottom: 1em;
  @media(min-width:$t7) {
    margin-bottom: 2em;
  }
  @media(min-width:$d-mq) {
    margin-bottom:32px;
  }
  &.sm {
    font-size: 12px;
  }
  &.with-line {
    padding-bottom: 5px;
    position: relative;
    &:before {
      display: block;
      content:'';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 48px;
      height:2px;
      background-color: currentColor;
    }
  }
}
.meta, .meta p {
  font-size: 12px;
  font-weight: normal;
  font-family: $font-sans;
}
.type-smaller {
  font-size: 14px;
}
/*
.story-title {
  font-weight: normal;
  font-size: 24rem;
  line-height: 1.25;
}
.story-sub-title {
  font-size: 16rem;
  font-weight: normal;
  font-style: italic;
  line-height: 20rem;
  font-family: $font-sans;
}
.story-content {
  font-size: 16rem;
  line-height:1.5;
}
*/
