//
// Utility classes
// --------------------------------------------------


// UTILITY MIXINS
@mixin clearfix() {
  &:before,
  &:after {
    content: ""; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}
@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin before-fix() {
  display: block;
  content:'';
}

@mixin bg-cover() {
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
}

@mixin ab-cover() {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
@mixin inline-centerer() {
  letter-spacing: -4px;
  > * {
    display: inline-block;
    letter-spacing:normal;
    vertical-align: middle;
  }
}


// Floats
// -------------------------

.clearfix {
  @include clearfix();
}
.center-block {
  @include center-block();
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}

.hidden, .hide {
  display: none !important;
  visibility: hidden !important;
}

// UTILITY CLASSES
.text-overflow  {
  @include text-overflow();
}
.inline-centerer {
  @include inline-centerer();
}
.ab-cover {
  @include ab-cover();
}

.above-line {
  position:relative;
  z-index:2;
}
.button-style {
  display:inline-block;
  position: relative;
  padding: 6rem;
  border-width: 2rem;
  line-height: 1;
  font-family: $font-sans;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  &:after {
    display: block;
    content:'';
    position: absolute;
    right: -4rem;
    top: 2rem;
    width: calc(100% + 2rem);
    height: calc(100% + 2rem);
    border-width: 0 2rem 2rem 0;
  }
  &:hover {
    span {
      color:white;
    }
    background-color:currentColor;
    svg, svg * {
      fill:white;
    }
    &:after {
      transform: translate(1rem,1rem);
    }
  }
}


// UTILITY PLACEHOLDER EXTENDERS
%clearfix {
  @include clearfix();
}
%center-block {
  @include center-block();
}
%text-overflow {
  @include text-overflow();
}
%before-fix {
  @include before-fix();
}
%bg-cover {
  @include bg-cover();
}
%ab-cover {
  @include ab-cover();
}
%inline-centerer {
  @include inline-centerer();
}

//HIDING
// MOBILE HIDE

.mob-hide {
  @media($dt-max) {
    display: none !important;
  }
}

// DT HIDE
.dt-hide {
  @media($dt) {
    display: none !important;
  }
}
