//
// Utility classes
// --------------------------------------------------


// UTILITY MIXINS
@mixin clearfix() {
  &:before,
  &:after {
    content: ""; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}
@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin before-fix() {
  display: block;
  content:'';
}

@mixin bg-cover() {
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
}

@mixin ab-cover() {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
@mixin inline-centerer() {
  letter-spacing: -4px;
  > * {
    display: inline-block;
    letter-spacing:normal;
    vertical-align: middle;
  }
}
@mixin poster-img() {
 position:relative;
 overflow:hidden;
 > img {
   position: absolute;
   left: 0;
   top: 0;
   width:100%;
   height:100%;
   object-fit:cover;
   object-position: center center;
   &.preload {
     filter:blur(10px);
     transform: scale(1.1);
   }
  }
}
.poster-img {
  @include poster-img();
}

// Floats
// -------------------------

.clearfix {
  @include clearfix();
}
.center-block {
  @include center-block();
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}

.hidden, .hide {
  display: none !important;
  visibility: hidden !important;
}

// UTILITY CLASSES
.text-overflow  {
  @include text-overflow();
}
.inline-centerer {
  @include inline-centerer();
}
.ab-cover {
  @include ab-cover();
}

.above-line {
  position:relative;
  z-index:2;
}
.font-sans {
  font-family: $font-sans;
}
.font-serif {
  font-family: $font-serif;
}

.header-top-padding {
  padding-top: $header-top-padding;
}
.nav-spacer {
  /*padding-top: calc(60px + 8rem);*/
}

.middle-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}


// UTILITY PLACEHOLDER EXTENDERS
%clearfix {
  @include clearfix();
}
%center-block {
  @include center-block();
}
%text-overflow {
  @include text-overflow();
}
%before-fix {
  @include before-fix();
}
%bg-cover {
  @include bg-cover();
}
%ab-cover {
  @include ab-cover();
}
%inline-centerer {
  @include inline-centerer();
}

//HIDING
// MOBILE HIDE

.mob-hide {
  @media($dt-max) {
    display: none !important;
  }
}

// DT HIDE
.dt-hide {
  @media($dt) {
    display: none !important;
  }
}
